<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../styleSheet.css">
<link rel="stylesheet" href="../bower_components/moment-picker/dist/angular-moment-picker.css" >
</head>
<body ng-app="driverPageApp" ng-controller="driverPageCtrl">

<div class="container">
	<h1>
	<font face ="Verdana">Data Page</font>
	</h1>
	
	<div class="visibleform">

		<table>
			<tr>
				<td>
					<div moment-picker="ctrl.startTime"
						 format="HH"
						 min-view="day"
						 max-view="day"
						 autoclose="true"
						 id="picker_id">
						 <input class="form-control" 
								placeholder="Select a Start time"
								ng-model="ctrl.startTime" 
								ng-model-options="{ updateOn: 'blur' }">
					</div>
				</td>
				<td>
					<div moment-picker="ctrl.startDate"
						 locale="en-ca"
						 format="L"
						 min-view="year"
						 max-view="day"
						 start-view="month"
						 autoclose="true"
						 today="true"
						 keyboard="true">
						 <input class="form-control" 
								placeholder="Select a Start date"
								ng-model="ctrl.startDate" 
								ng-model-options="{ updateOn: 'blur' }">
					</div>
				</td>
				<td>
					<div moment-picker="ctrl.endTime"
						 format="HH"
						 min-view="day"
						 max-view="day"
						 autoclose="true">
						 <input class="form-control" 
								placeholder="Select an End time"
								ng-model="ctrl.endTime" 
								ng-model-options="{ updateOn: 'blur' }">
					</div>
				</td>
				<td>
					<div moment-picker="ctrl.endDate"
						 locale="en-ca"
						 format="L"
						 min-view="year"
						 max-view="day"
						 start-view="month"
						 autoclose="true"
						 today="true"
						 keyboard="true">
						 <input class="form-control" 
								placeholder="Select an End date"
								ng-model="ctrl.endDate" 
								ng-model-options="{ updateOn: 'blur' }">
					</div>
				</td>
			</tr>
		</table>
		
		<br>
		</form>
			<table border="1" width=100%>
				<tr>
					<th>Car Id</th>
					<th>Time Stamp</th>
					<th>Event Name</th>
					<th>Value</th>
				</tr>
				<tr ng-repeat = "event in dataList" ng-show = "displayRow(event.timeStamp)"> 
					<td>{{ event.carId }}</td>
					<td>{{ event.timeStamp * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
					<td>{{ event.eventName }}</td>
					<td>{{ event.value }}</td>
				</tr>
			</table>
		
		<br>
		<button ng-click="test()">test</button>
		
		<br>
		<pre>time = {{ ctrl | json }}</pre>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="../bower_components/moment-picker/dist/angular-moment-picker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="dataPage.js"></script>

</body>
</html>


