<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1 {
    text-align: center;
}
div.visibleform {
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 5px solid black;
}
div.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) ;
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>

<div class="container">
<h1><font face ="Verdana">Onboard Diagnostic Monitoring</font></h1>
	<div ng-app="myApp" ng-controller="formCtrl">
	  <div class="visibleform">
	  <form novalidate>
		<font face="Verdana" size="2">Please Enter Username and Password:</font><br>
		<input type="text" ng-model="user.username"><br>
		<input type="password" ng-model="user.password"><br><br>
		<button onclick="location.href='newUser/newUser.html';">New User</button>
		<button ng-click="login()">Login</button>
	  </form>
	  </div>
	<pre>form = {{user | json}}</pre>
	</div>
</div>

<script src="loginPage.js"></script>

</body>
</html>