<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="styleSheet.css">
</head>

<body ng-app="loginPage" ng-controller="loginCtrl">
<div class="container">
	<font face="Verdana">
	<h1>Onboard Diagnostic Monitoring</h1>
	<h2>Login</h2>
	</font>
	<div class="visibleform">
		<form novalidate>
		<font face="Verdana" size="3">Please enter Username and Password:</font><br><br>
		
		<input type="text" ng-model="user.username"><br><br>
		<input type="password" ng-model="user.password"><br><br>
		
		<button ng-click="login()">Login</button>
		<button ng-click="newUser()">New User</button>
		</form>
	</div>
	<pre>form = {{user | json}}</pre>
	<pre>loginSuccess = {{ loginSuccess }}</pre>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="index.js"></script>

</body>

</html>