body {
	background-attachment: scroll;
	background-position: left top;
	background-repeat: no-repeat;
	background: rgb(90, 140, 250);
	background: rgb(43, 184, 255);
	background: -moz-linear-gradient(325deg, #ABEDFF 0%, #1D5B99 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ABEDFF), color-stop(100%, #1D5B99)); /* safari4+,chrome */
	background: -webkit-linear-gradient(325deg, #ABEDFF 0%, #1D5B99 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(325deg, #ABEDFF 0%, #1D5B99 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(325deg, #ABEDFF 0%, #1D5B99 100%); /* ie10+ */
	background: linear-gradient(125deg, #ABEDFF 0%, #1D5B99 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ABEDFF', endColorstr='#1D5B99',GradientType=1 ); /* ie6-9 */
}

h1 {
    text-align: center;
}

h2 {
	text-align: center;
}

div.visibleform {
    display: inline-block
    margin: auto;
    padding: 10px;
    border: 5px solid black;
}
div.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%) ;
}

button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #87cdd6), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #87cdd6 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #87cdd6 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #87cdd6 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #87cdd6 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #87cdd6 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87cdd6', endColorstr='#599bb3',GradientType=0);
	background-color:#87cdd6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #87cdd6));
	background:-moz-linear-gradient(top, #599bb3 5%, #87cdd6 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #87cdd6 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #87cdd6 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #87cdd6 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #87cdd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#87cdd6',GradientType=0);
	background-color:#599bb3;
}
button:active {
	position:relative;
	top:1px;
}

input[type="text"] {
	font-size:16px; 
	padding:6px; 
	border-radius:4px; 
	border-style:inset; 
	border-color:#e3e3e3; 
	border-width:0px; 
	box-shadow: 1px 1px 5px 0px rgba(42,42,42,.50);
	width: 310px;
}
input[type="password"] {
	font-size:16px; 
	padding:6px; 
	border-radius:4px; 
	border-style:inset; 
	border-color:#e3e3e3; 
	border-width:0px; 
	box-shadow: 1px 1px 5px 0px rgba(42,42,42,.50);
	width: 310px;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }